<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="col-lg-6 offset-lg-3 well" >
            <h4 th:text="error">错误 </h4>
            <button type="button"  class="btn btn-link btn-lg"><a href="/register.html">注册</a></button>
            <button type="button"  class="btn btn-link btn-lg"><a href="/login.html">登陆</a></button>
        </div>
    </div>
</body>
</html>